body {
    background-color: #15142b;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    color: white;
}


header{
    text-align: center;
}

.container{
    margin-top: 3%;
    text-align: center;
}

svg{
    margin: 0;
}